doctype html
//[if IE 9]><html class="lt-ie10" lang="en" > <![endif]
html(class='no-js', lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Foundation 5
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/foundation.css')
    link(rel='stylesheet', href='/css/app.css')
    script(src='/js/vendor/modernizr.js')
  body
    .row.panel
      .small-12.columns
        h1 Excercise Log
    .row
      .small-8.columns
        table
          thead
            tr
              th Name
              th Time
              th Calories
              th Date
          tbody#body

      .small-4.columns.panel
        .row
          .small-12-columns
            label Name
            input#name
        .row
          .small-12-columns
            label Time
            input#time
        .row
          .small-12-columns
            label Calories
            input#calories
        .row
          .small-12-columns
            label Date
            input#date
        .row
          .small-12-columns
            label
            button.small.round#create Create Excercise
        .row
          .small-6-columns
            select#select
          .small-6-columns
        .row
          .small-12-columns
            button.small.round#reset Reset


    script(src='/js/vendor/jquery.js')
    script(src='/js/vendor/foundation.js')
    script(src='/js/vendor/lodash.js')
    script(src='/js/source/main.js')

